RewriteEngine on 

RewriteRule ^post/(\d+)$ post.php?p_id=$1 [NC,L]

RewriteRule ^(contact|registration|login)$ $1.php [NC,L]

RewriteRule ^admin/categories$ admin/$1.php [NC,L]

RewriteRule ^category/(\d+)/(\d+)$ category.php?category=$1&page=$2 [NC,L]

RewriteRule ^(\d+)$ index.php?page=$1 [NC,L]


RewriteRule  (^admin\/)(\w+)$  admin/$2.php    [NC,L]




#RewriteRule ^includes/(logout)$ $1.php [NC,L]


#RewriteRule  ^admin\/(\w+)$  admin/categories.php?param=$1   [NC,L]




#follwing codes redirect your url to htpps: from htpp:

#RewriteCond %{HTTPS} !=on

#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]